/* Container principal centralizado na tela */ 
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

/* Modal (box do login + imagem) */
.modal-login {
  display: flex;
  flex-direction: row;
  background-color: #e7e7e7;
  border-radius: 12px;
  overflow: hidden;

  /* Aumentado */
  width: 850px;
  max-width: 95%;
  height: 500px;
}

/* Lado esquerdo - formulário */
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  flex: 1;
  color: white;
}

/* Título com fonte maior e diferente */
.titulo-login {
  color: #0a66c2;
  font-size: 36px; /* maior */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fonte diferente */
  margin-bottom: 20px;
  text-align: left;
}

/* Inputs */
.formulario input {
  background-color: #e7e7e7;
  border: 1px solid #0a66c2;
  border-radius: 8px;
  padding: 10px;
  color: #474747; /* Cor inicial do texto */
  font-size: 15px;
  margin-bottom: 15px;
  width: 100%;
}

/* Quando o usuário estiver digitando, a cor do texto muda */
.formulario input:focus {
  color: #262626; /* Nova cor do texto enquanto digita */
  outline: none; /* Remove a borda de foco padrão */
  border-color: #0a66c2; /* Mantém a borda azul do input */
}

/* Placeholder */
.formulario input::placeholder {
  color: #474747; /* Cor do texto do placeholder */
}

/* Botão */
.botao-entrar {
  background-color: #0a66c2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.botao-entrar:hover {
  background-color: #0a66c2;
}

/* Links abaixo do formulário */
.container-login p {
  text-align: center;
  color: #474747;
  margin-top: 10px;
}

.container-login a {
  color: #0a66c2;
  text-decoration: none;
}

.container-login a:hover {
  text-decoration: underline;
}

/* Mensagem de erro */
.erro {
  color: #5094d8;
  background-color: #330000;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  text-align: center;
}

/* Lado direito - imagem */
.imagem-login {
  flex: 1;
  background-image: url('https://sdmntpreastus2.oaiusercontent.com/files/00000000-8d58-61f6-8226-d105e586da54/raw?se=2025-04-15T20%3A23%3A24Z&sp=r&sv=2024-08-04&sr=b&scid=f5c17358-540f-57b8-92cc-53f1150ef7f8&skoid=3f3a9132-9530-48ef-96b7-fee5a811733f&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-15T06%3A04%3A50Z&ske=2025-04-16T06%3A04%3A50Z&sks=b&skv=2024-08-04&sig=q2XwjYoCcMM1b/MOTjqIX2/yhp008nAER7pTTC0klPw%3D');
  background-size: cover;
  background-position: center;
}
